@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 1248px;
    margin: auto;
    margin-top: 40px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

.container .header-left a{
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
    text-decoration: none;
    color: black;
}

.container .header-center ul{
    display: flex;
    gap: 40px;
    list-style: none;
}

.container .header-center ul li a{
    font-size: 14px;
    font-weight: 500;
    line-height: 17.5px;
    text-decoration: none;
    color: #757575;
    transition: all 0.3s;
}

.container .header-center ul li a.active{
    color: #274DE0;
}

.container .header-center ul li a:not(:first-child):hover{
    color: black;
}

.container .header-right{
    display: flex;
    gap: 35px;
}

.container .header-right .lang{
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 12px;
    font-weight: 600;
}

main{
    background-image: url(assets/images/forest.png);
    height: 600px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

main p{
    font-size: 40px;
    font-weight: 700;
    line-height: 49.8px;
}

footer{
    display: flex;
    justify-content: space-between;
    padding-bottom: 74px;
}

footer .footer-left h1{
    font-size: 40px;
    font-weight: 400;
    line-height: 36px;
    margin-bottom: 30px;
}

footer .footer-left p{
    font-size: 14px;
    font-weight: 500;
    line-height: 17.5px;
    color: #B1B1B1;
    margin-bottom: 20px;
}

footer .footer-left .socials{
    display: flex;
    gap: 25px;
    cursor: pointer;
}

footer .footer-right{
    width: 662px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

footer .footer-right .footer-company ul,
footer .footer-right .footer-support ul,
footer .footer-right .footer-subscribe ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer .footer-right .footer-company h3,
footer .footer-right .footer-support h3,
footer .footer-right .footer-subscribe h3{
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 20px;
    color: #101010;
}

footer .footer-right .footer-company ul li,
footer .footer-right .footer-support ul li{
    font-size: 14px;
    font-weight: 500;
    line-height: 17.5px;
}

footer .footer-right .footer-company ul li a,
footer .footer-right .footer-support ul li a{
    color: #5F5F5F;
    text-decoration: none;
    transition: all 0.3s;
}

footer .footer-right .footer-company ul li a:hover,
footer .footer-right .footer-support ul li a:hover{
    color: black;
}

footer .footer-subscribe{
    width: 226px;
}

footer .footer-subscribe p{
    font-size: 14px;
    font-weight: 500;
    line-height: 17.5px;
    margin: 20px 0;
    color: #5F5F5F;
}

footer .footer-subscribe .footer-input{
    position: relative;
}

footer .footer-subscribe input{
    border-radius: 12px;
    border: 1px solid #E5E5E5;
    padding: 10px 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 17.5px;
}

footer .footer-subscribe .footer-input img{
    border-radius: 10px;
    background:#274DE0;
    padding: 6px 8px;
    position: absolute;
    right: 25px;
    bottom: 6px;
}
